/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;


  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  background-image: var(--image-path);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;

  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
    pointer-events: none; 
  }
}


.cityscape-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.window {
  position: absolute;
  width: 20px; 
  height: 20px; 
  background-color: #ffffff; 
  border-radius: 4px; 
  animation: flicker 3s infinite alternate; 
}


@keyframes flicker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.3; 
  }
}


@keyframes glitch {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0; 
  }
}

.flickering-border {
  background-color: transparent;
}

.flickering-border::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px; 
  background-color: #3B82F6;
  transform-origin: left;
  pointer-events: none;  
}


.matrix-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.matrix-line {
  position: absolute;
  width: 1px; 
  height: 100%; 
  background-color: #3B82F6; 
  opacity: 0; 
  transition: opacity 0.3s ease-in-out; 
}

.matrix-line:not(:hover) {
  animation: flickerLines .1s linear 5;
}

.matrix-line {
  opacity: 0; 
}

.matrix-line:hover {
  opacity: 1; 
  animation: fadeOut 2s; 
}


.matrix-line:nth-child(1) { left: 10%; animation-delay: 0.2s; }
.matrix-line:nth-child(2) { left: 20%; animation-delay: 0.5s;}
.matrix-line:nth-child(3) { left: 30%; animation-delay: 0.8s;}
.matrix-line:nth-child(4) { left: 40%; animation-delay: 1.1s;}
.matrix-line:nth-child(5) { left: 50%; animation-delay: 0.5s;}
.matrix-line:nth-child(6) { left: 60%; animation-delay: 0.1s;}
.matrix-line:nth-child(7) { left: 70%; animation-delay: 1.1s;}
.matrix-line:nth-child(8) { left: 80%; animation-delay: 0.2s;}
.matrix-line:nth-child(9) { left: 90%; animation-delay: 0.8s;}


@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes flickerLines {
  0%, 100% {
    opacity: 0;
  }
  25%, 50%, 75% {
    opacity: 1;
  }
}

.h-1\:2::-webkit-scrollbar {
  display: none; 
}


@layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;  
        scrollbar-width: none; 
    }
  }
}


.proxz-nav {
  transform-style: preserve-3d;
}
.proxz-nav__system {
  perspective: 900px;
  position: relative;
  z-index: 1;
}
.proxz-nav__orbit, .proxz-nav__orbit:before, .proxz-nav__satellite {
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;

}
.proxz-nav__orbit {
  z-index: 10;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  display: flex;
  align-items: center;
}


.proxz-nav__orbit:nth-child(1) {
  width: 300px;
  height: 300px;
  z-index: 5;
  transform: translate(-50%, -50%) translateY(-110px) rotateX(65deg);
}

@media (max-width: 845px) {
  .proxz-nav__orbit:nth-child(1) {
    width: 150px;
    height: 150px;
    z-index: 5;
    transform: translate(-50%, -50%) translateY(-110px) rotateX(65deg);
  }
}

.proxz-nav__orbit:nth-child(1) .proxz-nav__label,
.proxz-nav__orbit:nth-child(1) .proxz-nav__satellite,
.proxz-nav__orbit:nth-child(1) .proxz-nav__satellite:before {
  -webkit-animation-duration: 38s;
          animation-duration: 38s;
}
.proxz-nav__orbit:nth-child(1) .proxz-nav__satellite:before {
  background-color: #70deff;
}
.proxz-nav__orbit:nth-child(1) .proxz-nav__label {
  color: #70deff;
}
.proxz-nav__orbit:nth-child(1) .proxz-nav__label:before {
  content: "01";
  color: rgba(254, 254, 254, 0.75);
  padding-right: 8px;
}




.proxz-nav__orbit:nth-child(2) {
  width: 400px;
  height: 400px;
  z-index: 4;
  transform: translate(-50%, -50%) translateY(-80px) rotateX(65deg);
}

@media (max-width: 845px) {
  .proxz-nav__orbit:nth-child(2) {
    width: 200px;
    height: 200px;
    z-index: 4;
    transform: translate(-50%, -50%) translateY(-80px) rotateX(65deg);
  }
}

.proxz-nav__orbit:nth-child(2) .proxz-nav__label,
.proxz-nav__orbit:nth-child(2) .proxz-nav__satellite,
.proxz-nav__orbit:nth-child(2) .proxz-nav__satellite:before {
  -webkit-animation-duration: 36s;
          animation-duration: 36s;
}
.proxz-nav__orbit:nth-child(2) .proxz-nav__satellite:before {
  background-color: #70bfff;
}
.proxz-nav__orbit:nth-child(2) .proxz-nav__label {
  color: #70bfff;
}
.proxz-nav__orbit:nth-child(2) .proxz-nav__label:before {
  content: "02";
  color: rgba(254, 254, 254, 0.75);
  padding-right: 8px;
}


.proxz-nav__orbit:nth-child(3) {
  width: 500px;
  height: 500px;
  z-index: 3;
  transform: translate(-50%, -50%) translateY(-50px) rotateX(65deg);
}

@media (max-width: 845px) {
  .proxz-nav__orbit:nth-child(3) {
    width: 250px;
    height: 250px;
    z-index: 3;
    transform: translate(-50%, -50%) translateY(-50px) rotateX(65deg);
  }
}

.proxz-nav__orbit:nth-child(3) .proxz-nav__label,
.proxz-nav__orbit:nth-child(3) .proxz-nav__satellite,
.proxz-nav__orbit:nth-child(3) .proxz-nav__satellite:before {
  -webkit-animation-duration: 34s;
          animation-duration: 34s;
}
.proxz-nav__orbit:nth-child(3) .proxz-nav__satellite:before {
  background-color: #70f5ff;
}
.proxz-nav__orbit:nth-child(3) .proxz-nav__label {
  color: #70f5ff;
}
.proxz-nav__orbit:nth-child(3) .proxz-nav__label:before {
  content: "03";
  color: rgba(254, 254, 254, 0.75);
  padding-right: 8px;
}


.proxz-nav__orbit:nth-child(4) {
  width: 500px;
  height: 500px;
  z-index: 2;
  transform: translate(-50%, -50%) translateY(0px) rotateX(65deg);
}

@media (max-width: 845px) {
  .proxz-nav__orbit:nth-child(4) {
    width: 250px;
    height: 250px;
    z-index: 2;
    transform: translate(-50%, -50%) translateY(0px) rotateX(65deg);
  }
}


.proxz-nav__orbit:nth-child(4) .proxz-nav__label,
.proxz-nav__orbit:nth-child(4) .proxz-nav__satellite,
.proxz-nav__orbit:nth-child(4) .proxz-nav__satellite:before {
  -webkit-animation-duration: 32s;
          animation-duration: 32s;
}
.proxz-nav__orbit:nth-child(4) .proxz-nav__satellite:before {
  background-color: #1f8cf3;
}
.proxz-nav__orbit:nth-child(4) .proxz-nav__label {
  color: #1f8cf3;
}
.proxz-nav__orbit:nth-child(4) .proxz-nav__label:before {
  content: "04";
  color: rgba(254, 254, 254, 0.75);
  padding-right: 8px;
}



.proxz-nav__orbit:nth-child(5) {
  width: 400px;
  height: 400px;
  z-index: 1;
  transform: translate(-50%, -50%) translateY(50px) rotateX(65deg);
}

@media (max-width: 845px) {
  .proxz-nav__orbit:nth-child(5) {
    width: 200px;
    height: 200px;
    z-index: 1;
    transform: translate(-50%, -50%) translateY(50px) rotateX(65deg);
  }
}

.proxz-nav__orbit:nth-child(5) .proxz-nav__label,
.proxz-nav__orbit:nth-child(5) .proxz-nav__satellite,
.proxz-nav__orbit:nth-child(5) .proxz-nav__satellite:before {
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
}
.proxz-nav__orbit:nth-child(5) .proxz-nav__satellite:before {
  background-color: #f3ff70;
}
.proxz-nav__orbit:nth-child(5) .proxz-nav__label {
  color: #f3ff70;
}
.proxz-nav__orbit:nth-child(5) .proxz-nav__label:before {
  content: "05";
  color: rgba(254, 254, 254, 0.75);
  padding-right: 8px;
}



.proxz-nav__orbit:nth-child(6) {
  width: 300px;
  height: 300px;
  z-index: 0;
  transform: translate(-50%, -50%) translateY(100px) rotateX(65deg);
}


@media (max-width: 845px) {
  .proxz-nav__orbit:nth-child(6) {
    width: 150px;
    height: 150px;
    z-index: 0;
    transform: translate(-50%, -50%) translateY(100px) rotateX(65deg);
  }
}

.proxz-nav__orbit:nth-child(6) .proxz-nav__label,
.proxz-nav__orbit:nth-child(6) .proxz-nav__satellite,
.proxz-nav__orbit:nth-child(6) .proxz-nav__satellite:before {
  -webkit-animation-duration: 28s;
          animation-duration: 28s;
}
.proxz-nav__orbit:nth-child(6) .proxz-nav__satellite:before {
  background-color: #ffcf70;
}
.proxz-nav__orbit:nth-child(6) .proxz-nav__label {
  color: #ffcf70;
}
.proxz-nav__orbit:nth-child(6) .proxz-nav__label:before {
  content: "06";
  color: rgba(254, 254, 254, 0.75);
  padding-right: .5em;
}


.proxz-nav__orbit:before {
  content: '';
  width: 100%;
  height: 100%;
  z-index: 0;
  box-sizing: border-box;
  border: 1px dotted rgba(112, 230, 255, 0.5);
  transform: translate(-50%, -50%) rotate(0);
  animation: orbitRotation 40s linear infinite reverse;
  border-width: 2px;
  border-color: #70e6ff;
}
.proxz-nav__orbit:hover {
  cursor: pointer;
  
}
.proxz-nav__orbit:hover:before {
  border-width: 3px;
  border-color: #70e6ff;
}

.proxz-nav__orbit:hover .proxz-nav__label {
  opacity: 1;
  text-shadow: 0 0 1em #70e6ff;
}
.proxz-nav__orbit:hover .proxz-nav__satellite:before {
  opacity: 1;
}



.proxz-nav__satellite {
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: translate(-50%, -50%) rotate(0);
  -webkit-animation: orbitRotation 40s linear infinite;
          animation: orbitRotation 40s linear infinite;
  transform-style: preserve-3d;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.proxz-nav__satellite:before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  position: absolute;
  right: 0;
  top: calc(50% - 4px);
  border-radius: 50%;
  transform: rotate(0) rotateX(-90deg);
  opacity: 1;
  animation: satelliteRotation 40s linear infinite reverse;
}
.proxz-nav__label {
  opacity: 1;
  padding: 0 8px 48px 0;
  pointer-events: none;
  text-align: left;
  text-transform: uppercase;
  transform-origin: 100% 50%;
  transform: rotate(0) rotateX(-90deg);
  transition: opacity .25s ease-in-out;
  animation: satelliteRotation 40s linear infinite reverse;
}
.proxz-nav__description {
  display: block;
  font-size: 12px;
  color: rgba(254, 254, 254, 0.75);
}

.hologram {
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 0;
  border-radius: 50%;
  background-image: radial-gradient(to top, #70e6ff, rgba(0, 177, 214, 0.3));
  background-repeat: no-repeat;
  box-shadow: 0 0.7em 0.25em -0.6em rgba(0, 0, 0, 0.5), 0 0.6em 1em -0.4em black, 0 0 1.5em 0 #70e6ff, 0 0 6em 1em rgba(112, 230, 255, 0.5), 0 0 3em 0.5em rgba(112, 230, 255, 0.5);
  transform-style: preserve-3d;
  pointer-events: none;
}
.hologram:after, .hologram:before {
  content: '';
  position: absolute;
  pointer-events: none;
  border-radius: .4em;
}
.hologram:before {
  width: 100em;
  height: 100em;
  left: 50%;
  top: 0;
  z-index: 0;
  transform: translate(-50%, -50%) translateZ(-10em) rotateX(50deg) scale(0.75);
  background-size: 100% 100%, 100% 100%, 6em 6em, 6em 6em, 6em 6em, 6em 6em;
  background-position: top center;
}
.hologram:after {
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 100vh;
  z-index: º;
  transform-origin: 50% 100%;
  transform: translate(-50%, 0) rotateX(-86.8deg);
  background-image: radial-gradient(to top, rgba(0, 0, 0, 0) 30%, rgba(112, 230, 255, 0.1) 60%, rgba(0, 0, 0, 0) 70%);
  opacity: .75;
  -webkit-animation: lightVibration .07s linear infinite;
  animation: lightVibration .07s linear infinite;
}

@-webkit-keyframes lightVibration {
  50% {
    opacity: .25;
    height: 100vh;
  }
}

@keyframes lightVibration {
  50% {
    opacity: .25;
    height: 100vh;
  }
}
@-webkit-keyframes orbitRotation {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes orbitRotation {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes satelliteRotation {
  100% {
    transform: rotate(360deg) rotateX(-90deg);
  }
}
@keyframes satelliteRotation {
  100% {
    transform: rotate(360deg) rotateX(-90deg);
  }
}


.neon-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  background-color: transparent;
  border-radius: 50%;
  padding: 10px;
  border: 3px solid white; 
  box-shadow: 0 0 10px white; 

  transition: transform 0.3s ease-in-out;
}

.neon-button:hover {
  transform: scale(1.2);
  .arrow {
    display: block;
  }
  .neon-text {
    display: none;
  }
}

.neon-text {
  font-size: 20px;
  font-weight: bold;
  color: white; 
  margin-bottom: 5px;
}

.arrow {
  font-size: 50px;
  color: white;
  display: none;
  font-weight: bold;
}


.full-wh {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;
}

.bg-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 233px 1976px #f7f7f7, 1196px 1119px #f7f7f7, 646px 740px #f7f7f7, 335px 645px #f7f7f7, 1119px 1452px #f7f7f7, 176px 1870px #f7f7f7, 639px 1711px #f7f7f7, 647px 1388px #f7f7f7, 1516px 1108px #f7f7f7, 464px 66px #f7f7f7, 331px 344px #f7f7f7, 772px 1189px #f7f7f7, 1516px 1850px #f7f7f7, 1500px 1463px #f7f7f7, 1275px 876px #f7f7f7, 1107px 645px #f7f7f7, 977px 478px #f7f7f7, 583px 1179px #f7f7f7, 284px 395px #f7f7f7, 1220px 461px #f7f7f7, 1160px 249px #f7f7f7, 196px 865px #f7f7f7, 670px 1915px #f7f7f7, 1449px 382px #f7f7f7, 1191px 546px #f7f7f7, 1329px 605px #f7f7f7, 1945px 458px #f7f7f7, 995px 749px #f7f7f7, 1495px 861px #f7f7f7, 708px 1731px #f7f7f7, 348px 653px #f7f7f7, 548px 1298px #f7f7f7, 1606px 990px #f7f7f7, 1049px 1204px #f7f7f7, 253px 1501px #f7f7f7, 1154px 166px #f7f7f7, 1087px 104px #f7f7f7, 1034px 1161px #f7f7f7, 1681px 462px #f7f7f7, 577px 1897px #f7f7f7, 193px 1901px #f7f7f7, 1701px 1755px #f7f7f7, 864px 1297px #f7f7f7, 800px 1289px #f7f7f7, 676px 28px #f7f7f7, 185px 1341px #f7f7f7, 379px 1151px #f7f7f7, 1224px 1725px #f7f7f7, 280px 541px #f7f7f7, 473px 1196px #f7f7f7, 921px 1628px #f7f7f7, 969px 432px #f7f7f7, 1475px 758px #f7f7f7, 1195px 993px #f7f7f7, 876px 1840px #f7f7f7, 1274px 1689px #f7f7f7, 1977px 1101px #f7f7f7, 837px 527px #f7f7f7, 1785px 1610px #f7f7f7, 1650px 1843px #f7f7f7, 1127px 1508px #f7f7f7, 401px 1050px #f7f7f7, 51px 1105px #f7f7f7, 545px 880px #f7f7f7, 1786px 1672px #f7f7f7, 318px 260px #f7f7f7, 568px 254px #f7f7f7, 1026px 1527px #f7f7f7, 1242px 852px #f7f7f7, 1785px 982px #f7f7f7, 1318px 1071px #f7f7f7, 398px 1061px #f7f7f7, 1509px 257px #f7f7f7, 599px 928px #f7f7f7, 1195px 1800px #f7f7f7, 1254px 906px #f7f7f7, 141px 26px #f7f7f7, 1384px 1502px #f7f7f7, 476px 767px #f7f7f7, 1973px 722px #f7f7f7, 1339px 1031px #f7f7f7, 778px 818px #f7f7f7, 213px 1320px #f7f7f7, 184px 221px #f7f7f7, 983px 1911px #f7f7f7, 923px 1439px #f7f7f7, 1936px 581px #f7f7f7, 1105px 625px #f7f7f7, 325px 729px #f7f7f7, 1475px 204px #f7f7f7, 1483px 1564px #f7f7f7, 1327px 1272px #f7f7f7, 1187px 1944px #f7f7f7, 1945px 1471px #f7f7f7, 116px 960px #f7f7f7, 1660px 1610px #f7f7f7, 412px 1022px #f7f7f7, 1552px 1516px #f7f7f7, 1517px 1892px #f7f7f7, 306px 829px #f7f7f7, 1416px 462px #f7f7f7, 1575px 1460px #f7f7f7, 424px 1500px #f7f7f7, 1530px 1169px #f7f7f7, 1388px 1608px #f7f7f7, 185px 416px #f7f7f7, 634px 1446px #f7f7f7, 767px 479px #f7f7f7, 71px 426px #f7f7f7, 1937px 145px #f7f7f7, 1955px 1312px #f7f7f7, 1811px 611px #f7f7f7, 1145px 569px #f7f7f7, 1460px 676px #f7f7f7, 131px 1858px #f7f7f7, 1557px 473px #f7f7f7, 735px 130px #f7f7f7, 112px 1531px #f7f7f7, 1312px 305px #f7f7f7, 409px 1032px #f7f7f7, 149px 1964px #f7f7f7, 535px 1215px #f7f7f7, 1382px 630px #f7f7f7, 1437px 1368px #f7f7f7, 362px 1181px #f7f7f7, 388px 181px #f7f7f7, 274px 1287px #f7f7f7, 1858px 1414px #f7f7f7, 661px 1935px #f7f7f7, 675px 1205px #f7f7f7, 1829px 1725px #f7f7f7, 1937px 1145px #f7f7f7, 237px 908px #f7f7f7, 1059px 1185px #f7f7f7, 824px 1248px #f7f7f7, 1167px 1730px #f7f7f7, 180px 1961px #f7f7f7, 1663px 203px #f7f7f7, 374px 221px #f7f7f7, 724px 1883px #f7f7f7, 970px 1362px #f7f7f7, 832px 505px #f7f7f7, 313px 233px #f7f7f7, 1909px 597px #f7f7f7, 434px 201px #f7f7f7, 587px 995px #f7f7f7, 1833px 623px #f7f7f7, 1464px 561px #f7f7f7, 231px 593px #f7f7f7, 1558px 1433px #f7f7f7, 1986px 1767px #f7f7f7, 1753px 1728px #f7f7f7, 1153px 1623px #f7f7f7, 249px 229px #f7f7f7, 1503px 1186px #f7f7f7, 1784px 137px #f7f7f7, 841px 403px #f7f7f7, 1400px 354px #f7f7f7, 197px 499px #f7f7f7, 1188px 681px #f7f7f7, 158px 391px #f7f7f7, 443px 1099px #f7f7f7, 723px 1445px #f7f7f7, 1408px 1235px #f7f7f7, 1908px 195px #f7f7f7, 271px 891px #f7f7f7, 469px 1693px #f7f7f7, 580px 11px #f7f7f7, 1533px 70px #f7f7f7, 859px 761px #f7f7f7, 1510px 1844px #f7f7f7, 421px 558px #f7f7f7, 1132px 1453px #f7f7f7, 757px 1987px #f7f7f7, 212px 293px #f7f7f7, 569px 323px #f7f7f7, 1404px 1394px #f7f7f7, 252px 1386px #f7f7f7, 1668px 1857px #f7f7f7, 123px 1684px #f7f7f7, 105px 490px #f7f7f7, 1083px 1769px #f7f7f7, 1071px 1953px #f7f7f7, 1271px 1159px #f7f7f7, 699px 1491px #f7f7f7, 1744px 1997px #f7f7f7, 1868px 1973px #f7f7f7, 1438px 1449px #f7f7f7, 1222px 1921px #f7f7f7, 1328px 1210px #f7f7f7, 438px 873px #f7f7f7, 809px 780px #f7f7f7, 491px 1524px #f7f7f7, 447px 1830px #f7f7f7, 927px 1936px #f7f7f7, 564px 691px #f7f7f7, 1784px 1747px #f7f7f7, 1978px 1722px #f7f7f7, 1599px 1480px #f7f7f7, 1276px 729px #f7f7f7, 731px 1174px #f7f7f7, 1586px 1711px #f7f7f7, 451px 1340px #f7f7f7, 1075px 1899px #f7f7f7, 13px 575px #f7f7f7, 309px 1340px #f7f7f7, 981px 183px #f7f7f7, 248px 1315px #f7f7f7, 849px 80px #f7f7f7, 1754px 1540px #f7f7f7, 73px 1432px #f7f7f7, 1208px 1828px #f7f7f7, 65px 575px #f7f7f7, 1098px 730px #f7f7f7, 127px 1358px #f7f7f7, 185px 19px #f7f7f7, 1222px 1679px #f7f7f7, 1122px 315px #f7f7f7, 1906px 452px #f7f7f7, 761px 284px #f7f7f7, 813px 492px #f7f7f7, 1344px 843px #f7f7f7, 118px 1834px #f7f7f7, 1620px 359px #f7f7f7, 1755px 1246px #f7f7f7, 299px 1076px #f7f7f7, 1746px 158px #f7f7f7, 6px 1635px #f7f7f7, 143px 190px #f7f7f7, 101px 468px #f7f7f7, 137px 971px #f7f7f7, 1221px 1929px #f7f7f7, 1752px 650px #f7f7f7, 1635px 1761px #f7f7f7, 1522px 833px #f7f7f7, 908px 153px #f7f7f7, 1044px 350px #f7f7f7, 1151px 1940px #f7f7f7, 822px 210px #f7f7f7, 1774px 310px #f7f7f7, 796px 1447px #f7f7f7, 1069px 1903px #f7f7f7, 217px 565px #f7f7f7, 662px 1370px #f7f7f7, 1876px 1570px #f7f7f7, 847px 46px #f7f7f7, 1042px 1689px #f7f7f7, 1584px 1434px #f7f7f7, 1791px 908px #f7f7f7, 973px 908px #f7f7f7, 793px 747px #f7f7f7, 122px 483px #f7f7f7, 1137px 1374px #f7f7f7, 1757px 1791px #f7f7f7, 513px 225px #f7f7f7, 63px 731px #f7f7f7, 1179px 1926px #f7f7f7, 346px 18px #f7f7f7, 589px 175px #f7f7f7, 87px 302px #f7f7f7, 380px 1295px #f7f7f7, 450px 921px #f7f7f7, 1667px 1973px #f7f7f7, 1495px 1373px #f7f7f7, 1462px 1850px #f7f7f7, 540px 288px #f7f7f7, 1208px 1051px #f7f7f7, 1554px 1095px #f7f7f7, 1009px 1516px #f7f7f7, 181px 572px #f7f7f7, 165px 387px #f7f7f7, 549px 1835px #f7f7f7, 960px 16px #f7f7f7, 1360px 403px #f7f7f7, 1251px 43px #f7f7f7, 1905px 1813px #f7f7f7, 1106px 866px #f7f7f7, 1809px 277px #f7f7f7, 1828px 1720px #f7f7f7, 295px 1610px #f7f7f7, 523px 166px #f7f7f7, 1069px 692px #f7f7f7, 1292px 217px #f7f7f7, 11px 1721px #f7f7f7, 99px 1045px #f7f7f7, 51px 1584px #f7f7f7, 1053px 266px #f7f7f7, 1287px 1235px #f7f7f7, 747px 1722px #f7f7f7, 1542px 736px #f7f7f7, 1256px 18px #f7f7f7, 102px 609px #f7f7f7, 586px 1339px #f7f7f7, 1843px 1697px #f7f7f7, 824px 1687px #f7f7f7, 1124px 882px #f7f7f7, 395px 501px #f7f7f7, 1456px 672px #f7f7f7, 1472px 1648px #f7f7f7, 1326px 1164px #f7f7f7, 777px 1672px #f7f7f7, 81px 345px #f7f7f7, 91px 386px #f7f7f7, 243px 411px #f7f7f7, 1560px 90px #f7f7f7, 6px 1771px #f7f7f7, 1601px 616px #f7f7f7, 1220px 1808px #f7f7f7, 1160px 836px #f7f7f7, 246px 1777px #f7f7f7, 456px 863px #f7f7f7, 97px 1138px #f7f7f7, 1811px 942px #f7f7f7, 213px 414px #f7f7f7, 891px 392px #f7f7f7, 1044px 927px #f7f7f7, 1856px 216px #f7f7f7, 957px 347px #f7f7f7, 1486px 406px #f7f7f7, 838px 912px #f7f7f7, 803px 361px #f7f7f7, 564px 826px #f7f7f7, 1597px 949px #f7f7f7, 1206px 289px #f7f7f7, 33px 1035px #f7f7f7, 1762px 1377px #f7f7f7, 789px 1815px #f7f7f7, 1594px 1342px #f7f7f7, 1668px 880px #f7f7f7, 1539px 1581px #f7f7f7, 1547px 53px #f7f7f7, 861px 1433px #f7f7f7, 693px 1618px #f7f7f7, 1762px 782px #f7f7f7, 1568px 682px #f7f7f7, 1126px 1762px #f7f7f7, 1242px 134px #f7f7f7, 495px 959px #f7f7f7, 1606px 219px #f7f7f7, 1878px 1415px #f7f7f7, 1652px 797px #f7f7f7, 782px 1903px #f7f7f7, 1774px 1133px #f7f7f7, 1430px 408px #f7f7f7, 265px 394px #f7f7f7, 890px 336px #f7f7f7, 1051px 311px #f7f7f7, 461px 1559px #f7f7f7, 1931px 91px #f7f7f7, 1160px 380px #f7f7f7, 1442px 1058px #f7f7f7, 1157px 364px #f7f7f7, 586px 227px #f7f7f7, 1365px 715px #f7f7f7, 1658px 1655px #f7f7f7, 1923px 1664px #f7f7f7, 1023px 1844px #f7f7f7, 1939px 1367px #f7f7f7, 1203px 1305px #f7f7f7, 359px 642px #f7f7f7, 1056px 425px #f7f7f7, 787px 202px #f7f7f7, 1609px 1850px #f7f7f7, 1964px 200px #f7f7f7, 1537px 586px #f7f7f7, 1589px 903px #f7f7f7, 1063px 1694px #f7f7f7, 760px 1185px #f7f7f7, 597px 1396px #f7f7f7, 294px 452px #f7f7f7, 433px 818px #f7f7f7, 199px 840px #f7f7f7, 1332px 1937px #f7f7f7, 169px 1907px #f7f7f7, 591px 834px #f7f7f7, 1716px 1032px #f7f7f7, 45px 1879px #f7f7f7, 686px 1469px #f7f7f7, 1520px 475px #f7f7f7, 1122px 859px #f7f7f7, 973px 1541px #f7f7f7, 269px 477px #f7f7f7, 1390px 716px #f7f7f7, 1791px 783px #f7f7f7, 824px 2000px #f7f7f7, 1211px 1717px #f7f7f7, 1008px 1587px #f7f7f7, 1422px 204px #f7f7f7, 234px 556px #f7f7f7, 506px 550px #f7f7f7, 942px 1670px #f7f7f7, 397px 853px #f7f7f7, 599px 795px #f7f7f7, 762px 1926px #f7f7f7, 1202px 1424px #f7f7f7, 135px 1316px #f7f7f7, 1442px 1692px #f7f7f7, 977px 652px #f7f7f7, 564px 1648px #f7f7f7, 997px 1474px #f7f7f7, 67px 1366px #f7f7f7, 1860px 1451px #f7f7f7, 1105px 772px #f7f7f7, 1886px 1396px #f7f7f7, 1510px 658px #f7f7f7, 976px 1544px #f7f7f7, 894px 543px #f7f7f7, 1098px 1189px #f7f7f7, 690px 77px #f7f7f7, 770px 733px #f7f7f7, 557px 1403px #f7f7f7, 1758px 1623px #f7f7f7, 1341px 812px #f7f7f7, 699px 967px #f7f7f7, 277px 866px #f7f7f7, 1526px 1828px #f7f7f7, 8px 977px #f7f7f7, 1707px 952px #f7f7f7, 12px 1900px #f7f7f7, 72px 921px #f7f7f7, 496px 1067px #f7f7f7, 1288px 1749px #f7f7f7, 273px 984px #f7f7f7, 1197px 1991px #f7f7f7, 242px 789px #f7f7f7, 903px 1035px #f7f7f7, 480px 1492px #f7f7f7, 102px 1331px #f7f7f7, 738px 1343px #f7f7f7, 560px 1475px #f7f7f7, 367px 846px #f7f7f7, 1420px 962px #f7f7f7, 1976px 892px #f7f7f7, 1911px 1763px #f7f7f7, 1639px 1002px #f7f7f7, 437px 1522px #f7f7f7, 1906px 1025px #f7f7f7, 730px 1364px #f7f7f7, 1127px 521px #f7f7f7, 1401px 1792px #f7f7f7, 1954px 1066px #f7f7f7, 232px 250px #f7f7f7, 1685px 660px #f7f7f7, 1011px 999px #f7f7f7, 1970px 790px #f7f7f7, 750px 499px #f7f7f7, 1738px 660px #f7f7f7, 1621px 1849px #f7f7f7, 446px 52px #f7f7f7, 1055px 1396px #f7f7f7, 1165px 1497px #f7f7f7, 1740px 1425px #f7f7f7, 1012px 1920px #f7f7f7, 1258px 1560px #f7f7f7, 1020px 1152px #f7f7f7, 362px 673px #f7f7f7, 1065px 975px #f7f7f7, 582px 755px #f7f7f7, 1271px 1479px #f7f7f7, 719px 548px #f7f7f7, 1602px 879px #f7f7f7, 590px 499px #f7f7f7, 721px 1412px #f7f7f7, 1180px 113px #f7f7f7, 1801px 1961px #f7f7f7, 589px 941px #f7f7f7, 883px 476px #f7f7f7, 214px 890px #f7f7f7, 1028px 892px #f7f7f7, 1107px 1832px #f7f7f7, 944px 361px #f7f7f7, 480px 1453px #f7f7f7, 1466px 683px #f7f7f7, 981px 745px #f7f7f7, 1968px 828px #f7f7f7, 657px 1830px #f7f7f7, 11px 1338px #f7f7f7, 179px 730px #f7f7f7, 1713px 197px #f7f7f7, 51px 955px #f7f7f7, 1243px 319px #f7f7f7, 1175px 624px #f7f7f7, 446px 46px #f7f7f7, 5px 1158px #f7f7f7, 82px 1352px #f7f7f7, 1877px 402px #f7f7f7, 708px 1778px #f7f7f7, 903px 1625px #f7f7f7, 1824px 352px #f7f7f7, 1229px 140px #f7f7f7, 1518px 24px #f7f7f7, 1017px 512px #f7f7f7, 515px 699px #f7f7f7, 295px 265px #f7f7f7, 69px 1773px #f7f7f7, 1640px 1163px #f7f7f7, 536px 342px #f7f7f7, 970px 1766px #f7f7f7, 560px 1416px #f7f7f7, 577px 193px #f7f7f7, 469px 9px #f7f7f7, 466px 276px #f7f7f7, 711px 853px #f7f7f7, 401px 685px #f7f7f7, 85px 506px #f7f7f7, 865px 558px #f7f7f7, 631px 105px #f7f7f7, 887px 866px #f7f7f7, 1704px 1001px #f7f7f7, 1051px 1199px #f7f7f7, 275px 1909px #f7f7f7, 1462px 829px #f7f7f7, 375px 1057px #f7f7f7, 1531px 1501px #f7f7f7, 205px 403px #f7f7f7, 33px 1869px #f7f7f7, 967px 1176px #f7f7f7, 376px 863px #f7f7f7, 1769px 1545px #f7f7f7, 535px 51px #f7f7f7, 1972px 1569px #f7f7f7, 1773px 960px #f7f7f7, 487px 620px #f7f7f7, 1660px 687px #f7f7f7, 1632px 972px #f7f7f7, 1362px 42px #f7f7f7, 479px 1655px #f7f7f7, 1531px 1808px #f7f7f7, 1450px 1412px #f7f7f7, 1549px 170px #f7f7f7, 1904px 1305px #f7f7f7, 1209px 48px #f7f7f7, 1933px 820px #f7f7f7, 1623px 595px #f7f7f7, 48px 643px #f7f7f7, 179px 1754px #f7f7f7, 589px 1032px #f7f7f7, 1199px 356px #f7f7f7, 1755px 1418px #f7f7f7, 780px 1174px #f7f7f7, 1905px 758px #f7f7f7, 1567px 713px #f7f7f7, 1372px 705px #f7f7f7, 456px 654px #f7f7f7, 759px 690px #f7f7f7, 452px 673px #f7f7f7, 993px 1610px #f7f7f7, 1271px 188px #f7f7f7, 343px 1750px #f7f7f7, 1943px 1735px #f7f7f7, 1717px 853px #f7f7f7, 1247px 303px #f7f7f7, 1314px 1895px #f7f7f7, 1203px 489px #f7f7f7, 741px 469px #f7f7f7, 4px 246px #f7f7f7, 1515px 115px #f7f7f7, 606px 218px #f7f7f7, 1966px 1471px #f7f7f7, 177px 87px #f7f7f7, 1575px 588px #f7f7f7, 1136px 1386px #f7f7f7, 70px 1868px #f7f7f7, 1053px 18px #f7f7f7, 1124px 721px #f7f7f7, 1748px 1181px #f7f7f7, 191px 1387px #f7f7f7, 1931px 840px #f7f7f7, 1088px 1603px #f7f7f7, 634px 1255px #f7f7f7, 814px 1434px #f7f7f7, 585px 64px #f7f7f7, 1074px 1618px #f7f7f7, 1692px 761px #f7f7f7, 651px 643px #f7f7f7, 193px 335px #f7f7f7, 1103px 1447px #f7f7f7, 491px 1142px #f7f7f7, 521px 408px #f7f7f7, 536px 340px #f7f7f7, 411px 1091px #f7f7f7, 1646px 193px #f7f7f7, 1595px 1285px #f7f7f7, 870px 1349px #f7f7f7, 1085px 1013px #f7f7f7, 204px 1864px #f7f7f7, 1359px 299px #f7f7f7, 807px 964px #f7f7f7, 219px 509px #f7f7f7, 36px 1227px #f7f7f7, 702px 1873px #f7f7f7, 1471px 934px #f7f7f7, 1763px 792px #f7f7f7, 973px 1957px #f7f7f7, 987px 68px #f7f7f7, 593px 1282px #f7f7f7, 1900px 607px #f7f7f7, 407px 1659px #f7f7f7, 587px 17px #f7f7f7, 632px 158px #f7f7f7;
  -webkit-animation: animStar 1500s linear infinite;
  -moz-animation: animStar 1500s linear infinite;
  -ms-animation: animStar 1500s linear infinite;
  animation: animStar 1500s linear infinite;
}

#stars4:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 233px 1976px #f7f7f7, 1196px 1119px #f7f7f7, 646px 740px #f7f7f7, 335px 645px #f7f7f7, 1119px 1452px #f7f7f7, 176px 1870px #f7f7f7, 639px 1711px #f7f7f7, 647px 1388px #f7f7f7, 1516px 1108px #f7f7f7, 464px 66px #f7f7f7, 331px 344px #f7f7f7, 772px 1189px #f7f7f7, 1516px 1850px #f7f7f7, 1500px 1463px #f7f7f7, 1275px 876px #f7f7f7, 1107px 645px #f7f7f7, 977px 478px #f7f7f7, 583px 1179px #f7f7f7, 284px 395px #f7f7f7, 1220px 461px #f7f7f7, 1160px 249px #f7f7f7, 196px 865px #f7f7f7, 670px 1915px #f7f7f7, 1449px 382px #f7f7f7, 1191px 546px #f7f7f7, 1329px 605px #f7f7f7, 1945px 458px #f7f7f7, 995px 749px #f7f7f7, 1495px 861px #f7f7f7, 708px 1731px #f7f7f7, 348px 653px #f7f7f7, 548px 1298px #f7f7f7, 1606px 990px #f7f7f7, 1049px 1204px #f7f7f7, 253px 1501px #f7f7f7, 1154px 166px #f7f7f7, 1087px 104px #f7f7f7, 1034px 1161px #f7f7f7, 1681px 462px #f7f7f7, 577px 1897px #f7f7f7, 193px 1901px #f7f7f7, 1701px 1755px #f7f7f7, 864px 1297px #f7f7f7, 800px 1289px #f7f7f7, 676px 28px #f7f7f7, 185px 1341px #f7f7f7, 379px 1151px #f7f7f7, 1224px 1725px #f7f7f7, 280px 541px #f7f7f7, 473px 1196px #f7f7f7, 921px 1628px #f7f7f7, 969px 432px #f7f7f7, 1475px 758px #f7f7f7, 1195px 993px #f7f7f7, 876px 1840px #f7f7f7, 1274px 1689px #f7f7f7, 1977px 1101px #f7f7f7, 837px 527px #f7f7f7, 1785px 1610px #f7f7f7, 1650px 1843px #f7f7f7, 1127px 1508px #f7f7f7, 401px 1050px #f7f7f7, 51px 1105px #f7f7f7, 545px 880px #f7f7f7, 1786px 1672px #f7f7f7, 318px 260px #f7f7f7, 568px 254px #f7f7f7, 1026px 1527px #f7f7f7, 1242px 852px #f7f7f7, 1785px 982px #f7f7f7, 1318px 1071px #f7f7f7, 398px 1061px #f7f7f7, 1509px 257px #f7f7f7, 599px 928px #f7f7f7, 1195px 1800px #f7f7f7, 1254px 906px #f7f7f7, 141px 26px #f7f7f7, 1384px 1502px #f7f7f7, 476px 767px #f7f7f7, 1973px 722px #f7f7f7, 1339px 1031px #f7f7f7, 778px 818px #f7f7f7, 213px 1320px #f7f7f7, 184px 221px #f7f7f7, 983px 1911px #f7f7f7, 923px 1439px #f7f7f7, 1936px 581px #f7f7f7, 1105px 625px #f7f7f7, 325px 729px #f7f7f7, 1475px 204px #f7f7f7, 1483px 1564px #f7f7f7, 1327px 1272px #f7f7f7, 1187px 1944px #f7f7f7, 1945px 1471px #f7f7f7, 116px 960px #f7f7f7, 1660px 1610px #f7f7f7, 412px 1022px #f7f7f7, 1552px 1516px #f7f7f7, 1517px 1892px #f7f7f7, 306px 829px #f7f7f7, 1416px 462px #f7f7f7, 1575px 1460px #f7f7f7, 424px 1500px #f7f7f7, 1530px 1169px #f7f7f7, 1388px 1608px #f7f7f7, 185px 416px #f7f7f7, 634px 1446px #f7f7f7, 767px 479px #f7f7f7, 71px 426px #f7f7f7, 1937px 145px #f7f7f7, 1955px 1312px #f7f7f7, 1811px 611px #f7f7f7, 1145px 569px #f7f7f7, 1460px 676px #f7f7f7, 131px 1858px #f7f7f7, 1557px 473px #f7f7f7, 735px 130px #f7f7f7, 112px 1531px #f7f7f7, 1312px 305px #f7f7f7, 409px 1032px #f7f7f7, 149px 1964px #f7f7f7, 535px 1215px #f7f7f7, 1382px 630px #f7f7f7, 1437px 1368px #f7f7f7, 362px 1181px #f7f7f7, 388px 181px #f7f7f7, 274px 1287px #f7f7f7, 1858px 1414px #f7f7f7, 661px 1935px #f7f7f7, 675px 1205px #f7f7f7, 1829px 1725px #f7f7f7, 1937px 1145px #f7f7f7, 237px 908px #f7f7f7, 1059px 1185px #f7f7f7, 824px 1248px #f7f7f7, 1167px 1730px #f7f7f7, 180px 1961px #f7f7f7, 1663px 203px #f7f7f7, 374px 221px #f7f7f7, 724px 1883px #f7f7f7, 970px 1362px #f7f7f7, 832px 505px #f7f7f7, 313px 233px #f7f7f7, 1909px 597px #f7f7f7, 434px 201px #f7f7f7, 587px 995px #f7f7f7, 1833px 623px #f7f7f7, 1464px 561px #f7f7f7, 231px 593px #f7f7f7, 1558px 1433px #f7f7f7, 1986px 1767px #f7f7f7, 1753px 1728px #f7f7f7, 1153px 1623px #f7f7f7, 249px 229px #f7f7f7, 1503px 1186px #f7f7f7, 1784px 137px #f7f7f7, 841px 403px #f7f7f7, 1400px 354px #f7f7f7, 197px 499px #f7f7f7, 1188px 681px #f7f7f7, 158px 391px #f7f7f7, 443px 1099px #f7f7f7, 723px 1445px #f7f7f7, 1408px 1235px #f7f7f7, 1908px 195px #f7f7f7, 271px 891px #f7f7f7, 469px 1693px #f7f7f7, 580px 11px #f7f7f7, 1533px 70px #f7f7f7, 859px 761px #f7f7f7, 1510px 1844px #f7f7f7, 421px 558px #f7f7f7, 1132px 1453px #f7f7f7, 757px 1987px #f7f7f7, 212px 293px #f7f7f7, 569px 323px #f7f7f7, 1404px 1394px #f7f7f7, 252px 1386px #f7f7f7, 1668px 1857px #f7f7f7, 123px 1684px #f7f7f7, 105px 490px #f7f7f7, 1083px 1769px #f7f7f7, 1071px 1953px #f7f7f7, 1271px 1159px #f7f7f7, 699px 1491px #f7f7f7, 1744px 1997px #f7f7f7, 1868px 1973px #f7f7f7, 1438px 1449px #f7f7f7, 1222px 1921px #f7f7f7, 1328px 1210px #f7f7f7, 438px 873px #f7f7f7, 809px 780px #f7f7f7, 491px 1524px #f7f7f7, 447px 1830px #f7f7f7, 927px 1936px #f7f7f7, 564px 691px #f7f7f7, 1784px 1747px #f7f7f7, 1978px 1722px #f7f7f7, 1599px 1480px #f7f7f7, 1276px 729px #f7f7f7, 731px 1174px #f7f7f7, 1586px 1711px #f7f7f7, 451px 1340px #f7f7f7, 1075px 1899px #f7f7f7, 13px 575px #f7f7f7, 309px 1340px #f7f7f7, 981px 183px #f7f7f7, 248px 1315px #f7f7f7, 849px 80px #f7f7f7, 1754px 1540px #f7f7f7, 73px 1432px #f7f7f7, 1208px 1828px #f7f7f7, 65px 575px #f7f7f7, 1098px 730px #f7f7f7, 127px 1358px #f7f7f7, 185px 19px #f7f7f7, 1222px 1679px #f7f7f7, 1122px 315px #f7f7f7, 1906px 452px #f7f7f7, 761px 284px #f7f7f7, 813px 492px #f7f7f7, 1344px 843px #f7f7f7, 118px 1834px #f7f7f7, 1620px 359px #f7f7f7, 1755px 1246px #f7f7f7, 299px 1076px #f7f7f7, 1746px 158px #f7f7f7, 6px 1635px #f7f7f7, 143px 190px #f7f7f7, 101px 468px #f7f7f7, 137px 971px #f7f7f7, 1221px 1929px #f7f7f7, 1752px 650px #f7f7f7, 1635px 1761px #f7f7f7, 1522px 833px #f7f7f7, 908px 153px #f7f7f7, 1044px 350px #f7f7f7, 1151px 1940px #f7f7f7, 822px 210px #f7f7f7, 1774px 310px #f7f7f7, 796px 1447px #f7f7f7, 1069px 1903px #f7f7f7, 217px 565px #f7f7f7, 662px 1370px #f7f7f7, 1876px 1570px #f7f7f7, 847px 46px #f7f7f7, 1042px 1689px #f7f7f7, 1584px 1434px #f7f7f7, 1791px 908px #f7f7f7, 973px 908px #f7f7f7, 793px 747px #f7f7f7, 122px 483px #f7f7f7, 1137px 1374px #f7f7f7, 1757px 1791px #f7f7f7, 513px 225px #f7f7f7, 63px 731px #f7f7f7, 1179px 1926px #f7f7f7, 346px 18px #f7f7f7, 589px 175px #f7f7f7, 87px 302px #f7f7f7, 380px 1295px #f7f7f7, 450px 921px #f7f7f7, 1667px 1973px #f7f7f7, 1495px 1373px #f7f7f7, 1462px 1850px #f7f7f7, 540px 288px #f7f7f7, 1208px 1051px #f7f7f7, 1554px 1095px #f7f7f7, 1009px 1516px #f7f7f7, 181px 572px #f7f7f7, 165px 387px #f7f7f7, 549px 1835px #f7f7f7, 960px 16px #f7f7f7, 1360px 403px #f7f7f7, 1251px 43px #f7f7f7, 1905px 1813px #f7f7f7, 1106px 866px #f7f7f7, 1809px 277px #f7f7f7, 1828px 1720px #f7f7f7, 295px 1610px #f7f7f7, 523px 166px #f7f7f7, 1069px 692px #f7f7f7, 1292px 217px #f7f7f7, 11px 1721px #f7f7f7, 99px 1045px #f7f7f7, 51px 1584px #f7f7f7, 1053px 266px #f7f7f7, 1287px 1235px #f7f7f7, 747px 1722px #f7f7f7, 1542px 736px #f7f7f7, 1256px 18px #f7f7f7, 102px 609px #f7f7f7, 586px 1339px #f7f7f7, 1843px 1697px #f7f7f7, 824px 1687px #f7f7f7, 1124px 882px #f7f7f7, 395px 501px #f7f7f7, 1456px 672px #f7f7f7, 1472px 1648px #f7f7f7, 1326px 1164px #f7f7f7, 777px 1672px #f7f7f7, 81px 345px #f7f7f7, 91px 386px #f7f7f7, 243px 411px #f7f7f7, 1560px 90px #f7f7f7, 6px 1771px #f7f7f7, 1601px 616px #f7f7f7, 1220px 1808px #f7f7f7, 1160px 836px #f7f7f7, 246px 1777px #f7f7f7, 456px 863px #f7f7f7, 97px 1138px #f7f7f7, 1811px 942px #f7f7f7, 213px 414px #f7f7f7, 891px 392px #f7f7f7, 1044px 927px #f7f7f7, 1856px 216px #f7f7f7, 957px 347px #f7f7f7, 1486px 406px #f7f7f7, 838px 912px #f7f7f7, 803px 361px #f7f7f7, 564px 826px #f7f7f7, 1597px 949px #f7f7f7, 1206px 289px #f7f7f7, 33px 1035px #f7f7f7, 1762px 1377px #f7f7f7, 789px 1815px #f7f7f7, 1594px 1342px #f7f7f7, 1668px 880px #f7f7f7, 1539px 1581px #f7f7f7, 1547px 53px #f7f7f7, 861px 1433px #f7f7f7, 693px 1618px #f7f7f7, 1762px 782px #f7f7f7, 1568px 682px #f7f7f7, 1126px 1762px #f7f7f7, 1242px 134px #f7f7f7, 495px 959px #f7f7f7, 1606px 219px #f7f7f7, 1878px 1415px #f7f7f7, 1652px 797px #f7f7f7, 782px 1903px #f7f7f7, 1774px 1133px #f7f7f7, 1430px 408px #f7f7f7, 265px 394px #f7f7f7, 890px 336px #f7f7f7, 1051px 311px #f7f7f7, 461px 1559px #f7f7f7, 1931px 91px #f7f7f7, 1160px 380px #f7f7f7, 1442px 1058px #f7f7f7, 1157px 364px #f7f7f7, 586px 227px #f7f7f7, 1365px 715px #f7f7f7, 1658px 1655px #f7f7f7, 1923px 1664px #f7f7f7, 1023px 1844px #f7f7f7, 1939px 1367px #f7f7f7, 1203px 1305px #f7f7f7, 359px 642px #f7f7f7, 1056px 425px #f7f7f7, 787px 202px #f7f7f7, 1609px 1850px #f7f7f7, 1964px 200px #f7f7f7, 1537px 586px #f7f7f7, 1589px 903px #f7f7f7, 1063px 1694px #f7f7f7, 760px 1185px #f7f7f7, 597px 1396px #f7f7f7, 294px 452px #f7f7f7, 433px 818px #f7f7f7, 199px 840px #f7f7f7, 1332px 1937px #f7f7f7, 169px 1907px #f7f7f7, 591px 834px #f7f7f7, 1716px 1032px #f7f7f7, 45px 1879px #f7f7f7, 686px 1469px #f7f7f7, 1520px 475px #f7f7f7, 1122px 859px #f7f7f7, 973px 1541px #f7f7f7, 269px 477px #f7f7f7, 1390px 716px #f7f7f7, 1791px 783px #f7f7f7, 824px 2000px #f7f7f7, 1211px 1717px #f7f7f7, 1008px 1587px #f7f7f7, 1422px 204px #f7f7f7, 234px 556px #f7f7f7, 506px 550px #f7f7f7, 942px 1670px #f7f7f7, 397px 853px #f7f7f7, 599px 795px #f7f7f7, 762px 1926px #f7f7f7, 1202px 1424px #f7f7f7, 135px 1316px #f7f7f7, 1442px 1692px #f7f7f7, 977px 652px #f7f7f7, 564px 1648px #f7f7f7, 997px 1474px #f7f7f7, 67px 1366px #f7f7f7, 1860px 1451px #f7f7f7, 1105px 772px #f7f7f7, 1886px 1396px #f7f7f7, 1510px 658px #f7f7f7, 976px 1544px #f7f7f7, 894px 543px #f7f7f7, 1098px 1189px #f7f7f7, 690px 77px #f7f7f7, 770px 733px #f7f7f7, 557px 1403px #f7f7f7, 1758px 1623px #f7f7f7, 1341px 812px #f7f7f7, 699px 967px #f7f7f7, 277px 866px #f7f7f7, 1526px 1828px #f7f7f7, 8px 977px #f7f7f7, 1707px 952px #f7f7f7, 12px 1900px #f7f7f7, 72px 921px #f7f7f7, 496px 1067px #f7f7f7, 1288px 1749px #f7f7f7, 273px 984px #f7f7f7, 1197px 1991px #f7f7f7, 242px 789px #f7f7f7, 903px 1035px #f7f7f7, 480px 1492px #f7f7f7, 102px 1331px #f7f7f7, 738px 1343px #f7f7f7, 560px 1475px #f7f7f7, 367px 846px #f7f7f7, 1420px 962px #f7f7f7, 1976px 892px #f7f7f7, 1911px 1763px #f7f7f7, 1639px 1002px #f7f7f7, 437px 1522px #f7f7f7, 1906px 1025px #f7f7f7, 730px 1364px #f7f7f7, 1127px 521px #f7f7f7, 1401px 1792px #f7f7f7, 1954px 1066px #f7f7f7, 232px 250px #f7f7f7, 1685px 660px #f7f7f7, 1011px 999px #f7f7f7, 1970px 790px #f7f7f7, 750px 499px #f7f7f7, 1738px 660px #f7f7f7, 1621px 1849px #f7f7f7, 446px 52px #f7f7f7, 1055px 1396px #f7f7f7, 1165px 1497px #f7f7f7, 1740px 1425px #f7f7f7, 1012px 1920px #f7f7f7, 1258px 1560px #f7f7f7, 1020px 1152px #f7f7f7, 362px 673px #f7f7f7, 1065px 975px #f7f7f7, 582px 755px #f7f7f7, 1271px 1479px #f7f7f7, 719px 548px #f7f7f7, 1602px 879px #f7f7f7, 590px 499px #f7f7f7, 721px 1412px #f7f7f7, 1180px 113px #f7f7f7, 1801px 1961px #f7f7f7, 589px 941px #f7f7f7, 883px 476px #f7f7f7, 214px 890px #f7f7f7, 1028px 892px #f7f7f7, 1107px 1832px #f7f7f7, 944px 361px #f7f7f7, 480px 1453px #f7f7f7, 1466px 683px #f7f7f7, 981px 745px #f7f7f7, 1968px 828px #f7f7f7, 657px 1830px #f7f7f7, 11px 1338px #f7f7f7, 179px 730px #f7f7f7, 1713px 197px #f7f7f7, 51px 955px #f7f7f7, 1243px 319px #f7f7f7, 1175px 624px #f7f7f7, 446px 46px #f7f7f7, 5px 1158px #f7f7f7, 82px 1352px #f7f7f7, 1877px 402px #f7f7f7, 708px 1778px #f7f7f7, 903px 1625px #f7f7f7, 1824px 352px #f7f7f7, 1229px 140px #f7f7f7, 1518px 24px #f7f7f7, 1017px 512px #f7f7f7, 515px 699px #f7f7f7, 295px 265px #f7f7f7, 69px 1773px #f7f7f7, 1640px 1163px #f7f7f7, 536px 342px #f7f7f7, 970px 1766px #f7f7f7, 560px 1416px #f7f7f7, 577px 193px #f7f7f7, 469px 9px #f7f7f7, 466px 276px #f7f7f7, 711px 853px #f7f7f7, 401px 685px #f7f7f7, 85px 506px #f7f7f7, 865px 558px #f7f7f7, 631px 105px #f7f7f7, 887px 866px #f7f7f7, 1704px 1001px #f7f7f7, 1051px 1199px #f7f7f7, 275px 1909px #f7f7f7, 1462px 829px #f7f7f7, 375px 1057px #f7f7f7, 1531px 1501px #f7f7f7, 205px 403px #f7f7f7, 33px 1869px #f7f7f7, 967px 1176px #f7f7f7, 376px 863px #f7f7f7, 1769px 1545px #f7f7f7, 535px 51px #f7f7f7, 1972px 1569px #f7f7f7, 1773px 960px #f7f7f7, 487px 620px #f7f7f7, 1660px 687px #f7f7f7, 1632px 972px #f7f7f7, 1362px 42px #f7f7f7, 479px 1655px #f7f7f7, 1531px 1808px #f7f7f7, 1450px 1412px #f7f7f7, 1549px 170px #f7f7f7, 1904px 1305px #f7f7f7, 1209px 48px #f7f7f7, 1933px 820px #f7f7f7, 1623px 595px #f7f7f7, 48px 643px #f7f7f7, 179px 1754px #f7f7f7, 589px 1032px #f7f7f7, 1199px 356px #f7f7f7, 1755px 1418px #f7f7f7, 780px 1174px #f7f7f7, 1905px 758px #f7f7f7, 1567px 713px #f7f7f7, 1372px 705px #f7f7f7, 456px 654px #f7f7f7, 759px 690px #f7f7f7, 452px 673px #f7f7f7, 993px 1610px #f7f7f7, 1271px 188px #f7f7f7, 343px 1750px #f7f7f7, 1943px 1735px #f7f7f7, 1717px 853px #f7f7f7, 1247px 303px #f7f7f7, 1314px 1895px #f7f7f7, 1203px 489px #f7f7f7, 741px 469px #f7f7f7, 4px 246px #f7f7f7, 1515px 115px #f7f7f7, 606px 218px #f7f7f7, 1966px 1471px #f7f7f7, 177px 87px #f7f7f7, 1575px 588px #f7f7f7, 1136px 1386px #f7f7f7, 70px 1868px #f7f7f7, 1053px 18px #f7f7f7, 1124px 721px #f7f7f7, 1748px 1181px #f7f7f7, 191px 1387px #f7f7f7, 1931px 840px #f7f7f7, 1088px 1603px #f7f7f7, 634px 1255px #f7f7f7, 814px 1434px #f7f7f7, 585px 64px #f7f7f7, 1074px 1618px #f7f7f7, 1692px 761px #f7f7f7, 651px 643px #f7f7f7, 193px 335px #f7f7f7, 1103px 1447px #f7f7f7, 491px 1142px #f7f7f7, 521px 408px #f7f7f7, 536px 340px #f7f7f7, 411px 1091px #f7f7f7, 1646px 193px #f7f7f7, 1595px 1285px #f7f7f7, 870px 1349px #f7f7f7, 1085px 1013px #f7f7f7, 204px 1864px #f7f7f7, 1359px 299px #f7f7f7, 807px 964px #f7f7f7, 219px 509px #f7f7f7, 36px 1227px #f7f7f7, 702px 1873px #f7f7f7, 1471px 934px #f7f7f7, 1763px 792px #f7f7f7, 973px 1957px #f7f7f7, 987px 68px #f7f7f7, 593px 1282px #f7f7f7, 1900px 607px #f7f7f7, 407px 1659px #f7f7f7, 587px 17px #f7f7f7, 632px 158px #f7f7f7;
}

@-webkit-keyframes animStar {
  from {
      -webkit-transform: translateY(0px);
  }
  to {
      -webkit-transform: translateY(-2000px);
  }
}

@-moz-keyframes animStar {
  from {
      -moz-transform: translateY(0px);
  }
  to {
      -moz-transform: translateY(-2000px);
  }
}

@-ms-keyframes animStar {
  from {
      -ms-transform: translateY(0px);
  }
  to {
      -ms-transform: translateY(-2000px);
  }
}

@keyframes animStar {
  from {
      transform: translateY(0px);
  }
  to {
      transform: translateY(-2000px);
  }
}




.card {
  
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.cardHidden {
  opacity: 0;
  transform: translateX(-100%);
}

.cardShow {
  opacity: 1;
  transform: translateX(0);
}

.card:nth-child(2) {
  transition-delay: 200ms;
}

.card:nth-child(3) {
  transition-delay: 400ms;
}


.slideFromBottom {
  .bottomUp {
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
  }
}

.slideFromBottom:hover, .slideFromBottom.mobile-hovered {
  .bottomUp {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideFromTop {
  .topDown {
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
  }
  
}

.slideFromBottom:hover {
  .topDown {
    opacity: 1;
    transform: translateY(0);
  }
  
}


.contact {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.contactHidden {
  opacity: 0;
  transform: scale(0);
}

.contactShow {
  opacity: 1;
  transform: scale(1);
} */




@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html,
body {
  height: 100%;
}

body {
  color: rgb(var(--foreground-rgb));

  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dot-line-wrapper {
  position: relative;
}

.dot-line-wrapper .dot {
  z-index: 10;
}

.dot-line-wrapper .line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  background-color: white;
}

.Scene {
  width: 100%;
  height: 100%;
}

.myway{
  position: absolute !important;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

.bring-front {
  position: relative;
  z-index: 9999;
}
